<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.it.mapper.TimeMapper">
<!-- 여기의 getTime은 src/main/java/com.it.mapper/TimeMapper.java와 연관됨 -->
	<select id="getTime" resultType="string">
		select now()
	</select>
</mapper>